$black: #030d21;
$white: #EDEDED;
$color-1: #B7D8E5;
$color-2: #ADADAD;
$color-3: #54A2BA;
$color-4: #97C6B4;
$color-5: #009ECE;
$color-6: #0D6906;

$xs: "(max-width: 340px)";
$sm: "(max-width: 767px)";
$md: "(max-width: 991px)";
$lg: "(max-width: 1199px)";
$xl: "(min-width: 1600px)";
$xs-abs: "(min-width: 0px) and (max-width: 339px)";
$sm-abs: "(min-width: 340px) and (max-width: 767px)";
$md-abs: "(min-width: 768px) and (max-width: 991px)";
$lg-abs: "(min-width: 992px) and (max-width: 1199px)";